* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
span,
p,
div,
label,
a {
  color: hsl(200, 15%, 8%);
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
